html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
  /* font-family: 'New Tegomin', serif; */
  font-family: 'Lucida Sans';
  font-weight: normal;
  font-size: 2.3vmin;
  color: rgb(240, 18, 103);
  -ms-user-select: None;
  -moz-user-select: None;
  -webkit-user-select: None;
  user-select: None;
}

scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
  position: absolute;
  /* transform: rotate(10deg); */
}

canvas {
  width: 100%;
  height: 100%;
}

speech {
  /* display: block; */
  background-image: url("./GUI/Textbox_darkish.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: beige;
  /* background-color: rgba(11, 14, 19, 0.9); */
  width: 100%;
  height: 35%;
}

speech input {
  background-color: rgb(100, 100, 100);
  color: rgb(228, 228, 228);
  margin: 0px 0px 0px 3%;
  width: 20%;
  height: 10%;
  border-radius: 7px;
  /* box-shadow: 1px 1px 1px 1px gold; */
  /* background-blend-mode: color; */
}

/* For Dialog fancy buttons */

speech input:hover::before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

speech input:hover::after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(36, 36, 36);
  left: 0;
  top: 0;
  border-radius: 10px;
}

speech input:active {
  color: #000
}

speech input:active::after {
  background: transparent;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#canvasSpatialSound {
  display: none;
}

name {
  font-weight: bold;
  /* font-variant: small-caps; */
  line-height: 100%;
  font-size: 3vmin;
  text-align: center;
  position: relative;
  bottom: -8%;
  left: 12%;
  font-family: 'Zen Loop';
  letter-spacing: 3px;
  background-color: #f6f6f6cb;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px rgba(255, 253, 251, 0.5);
  /* border-bottom: 1px solid rgb(80, 181, 228); */
  /* background-color: rgba(205, 231, 255, 0.5);
  border-radius: 10px 10px 10px 10px; */
}

content {
  top: 39%;
  left: 14%;
  position: absolute;
  font-family: 'Comfortaa', cursive;
  font-size: 2vmin;
}

speech[class=""] content {
  /* left: 22%; */
  color: rgb(198, 251, 255);
  /* font-family: 'Gill Sans', 'Gill Sans MT', sans-serif; */
}

/* Narrator */

speech[class=""] name {
  display: none;
}

speech[class="Doktor Ryu"] name {
  color: rgb(233, 247, 255);
  /* border-bottom: 1px solid rgb(80, 181, 228); */
  background-color: rgba(51, 74, 138, 0.8);
  box-shadow: 0px 0px 5px 5px rgba(57, 87, 121, 0.5);
  /* border-radius: 10px 10px 10px 10px; */
  /* background-image: linear-gradient(#f1f1f1, #81BEF7, #0431B4, #0B173B); */
}

speech[class="Player"] name {
  color: rgb(139, 176, 243);
}

speech[class="Player"] content {
  color: rgb(221, 243, 255);
}

/* speech.dataForSave.Protagonist name {
  color:rgb(29, 216, 216);
} */

/* speech.Player name {
  color:rgb(29, 216, 216);
  background-color: red;
}  */

/* speech.Player content {
  color: rgb(12, 49, 56)
} */

/* speech.Doktor name {
  color: rgb(27, 51, 95); */

/* border-bottom: 1px solid rgb(80, 181, 228); */

/* background-color: rgba(220, 241, 255, 0.8);
  border-radius: 10px 10px 10px 10px;
  background-image: linear-gradient(#f1f1f1, #81BEF7, #0431B4, #0B173B); */

/* } */

[class="Doktor Ryu"] content {
  color: rgb(180, 206, 255);
}

speech.Adelinde name {
  color: rgb(180, 47, 125);
  background-color: rgba(255, 210, 240, 0.8);
  box-shadow: 0px 0px 5px 5px rgba(255, 205, 236, 0.5);
}

speech.Adelinde content {
  color: rgb(255, 180, 211);
}

speech.Aoi name {
  color: aqua;
  background-color: rgba(51, 74, 138, 0.8);
  box-shadow: 0px 0px 5px 5px rgba(57, 87, 121, 0.5);
}

speech.Aoi content {
  color: rgb(159, 220, 255);
}

speech.Elaine name {
  color: rgb(95, 23, 47);
  background-color: rgba(138, 51, 63, 0.8);
  box-shadow: 0px 0px 5px 5px rgba(255, 154, 176, 0.5);
}

speech[class="Stranger Woman"] name {
  color: rgb(95, 23, 47);
  background-color: rgba(255, 157, 170, 0.8);
  box-shadow: 0px 0px 5px 5px rgba(255, 154, 176, 0.5);
}

[class="Stranger Woman"] content {
  color: rgb(255, 86, 114);
}


/* Splashscreen modifications */

dialog>p {
  /* font-family: 'Times New Roman', Times, serif; */
  color: white;
}

/* "Novel Page" in the beginning; Introduction */

dialog[class="start"] {
  height: 30em;
  width: 40em;
  text-align: center;
  color: rgb(223, 223, 223);
  background-color: rgba(36, 36, 36, 0.7);
  line-height: 1.5;
  border-radius: 7px;
  background-image: none;
}

dialog[class="choices"] {
  text-align: center;
  width: 40%;
  border: none;
  background-color: rgba(32, 32, 32, 0.7);
  box-shadow: 0px 0px 20px 10px rgba(0, 21, 31, 0.9);
  border-radius: 30px;
  background-image: url("./Images/Backgrounds/bg_options_magentaDK.png");
}

dialog[class="choices"] button {
  /* display: block; */
  /* clear: both; */
  text-align: center;
  /* margin: auto; */
  display: block;
  margin-left: auto;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  ;
}

.black {
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
  position: absolute;
  padding-top: 45%;
  color: white;
  border: none;
  background-image: none;
}


/* STYLED DIALOG & SAVE N LOAD-BUTTONS */
button {
  /* left: 20%; */
  text-align: center;
  font-size: 2vw;
  line-height: 150%;
  border: none;
  outline: none;
  color: rgba(154, 223, 255, 0.9);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

button::before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(3px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

button:active {
  color: #000
}

button:active::after {
  background: transparent;
}

button:hover::before {
  opacity: 1;
}

button::after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* @keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
} */

/* dialog { */

/* font-size: 2vw; */

/* color: rgb(106, 178, 226);
  border: none;
  background-color: rgba(32, 32, 32, 0.7);
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.9);
  border-radius: 30px 0px 30px 0px;
  background-image: url("./Images/Backgrounds/bg_options_new4.png");
} */

dialog {
  background-image: url("Images/Backgrounds/bg_dancer.png");
  background-size: cover;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

/* Game Menu Styling */

dialog.gameMenu {
  position: absolute;
  left: -8%;
  bottom: 3%;
  cursor: pointer;
  border: none;
  letter-spacing: 1.7px;
  /* padding: 10px; */
  /* margin: 10px; */
  /* width: 300px; */
  display: flex;
  /* box-shadow: none; */
  background-color: rgba(39, 39, 39, 0);
  background-image: none;
}

dialog.gameMenu>button {
  text-align: center;
  background-color: rgb(0, 217, 255);
  font-size: 1.5vmin;
  letter-spacing: 0.1vmin;
  margin-right: 10%;
  font-family: 'DotGothic16', sans-serif;
  background-color: rgba(89, 145, 214, 0.5);
  border-radius: 5px;
}

dialog.gameMenu>button:hover {
  background-color: rgb(0, 217, 255);
  font-size: 1.5vmin;
  letter-spacing: 0.1vmin;
  margin-right: 10%;
  font-family: 'DotGothic16', sans-serif;
  background-color: rgba(89, 145, 214, 0.5);
  border-radius: 5px;
}

#dB {
  position: absolute;
  display: hidden;
  bottom: 5%;
  left: 12%;
  background-image: none;
}

meter[id="avg-level"]::-webkit-meter-optimum-value {
  background-color: #c44e4e;
}


.credits {
  font-size: 2vmin;
  border-color: rgb(83, 115, 156);
  border-radius: 10px;
  line-height: 150%;
  background-color: rgb(223, 255, 255);
  background-image: none;
}